.form {
    position: static;
    transform: translate(0, 0);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form > input,
.form > textarea {
    border: none;
    border-radius: 6px;
    box-shadow: 2px 5px 8px #b9bcef73;
    padding: 12px 20px;
    position: relative;
}

#inp_title {
    width: 70%;
}

#inp_text {
    margin-top: 20px;
    padding: 20px;
}

.error_message {
    position: relative;
    top: -6px;
    color:red
}