.card {
    border: 2px solid var(--color-blue);
    border-radius: 10px;
    flex-grow: 1;
    width: 100px;
    padding: 5px 2px;
    cursor: pointer;
    flex-direction: column;
    transition: all 0.4s;
    text-align: start;
  }
  
  .card:not(.card--active):hover {
    border: 2px solid var(--color-dark-blue);
    transform: scale(1.1);
    box-shadow: -5px 4px 4px 0 #3c3f42;
  }
  
  .card--active {
    border: 2px solid var(--color-dark-blue);
    background-color: var(--color-light);
    box-shadow: -5px 4px 4px 0 #3c3f42;
  }
  
  .card__description {
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-blue);
  }
  
  .card__name {
    font-size: 18px;
  }
  
  .card__age {
    font-weight: 400;
  }
  
  :is(.card--active) .card__description {
    color: var(--color-dark-blue);
  }

  @media screen and (max-width: 1279px) {
    .card {
      flex-grow: 0;
    }
}