

main {
  grid-area: content;
  display: flex;
  gap: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-left: 10px;
}

.content__info {
  background-color: var(--color-light);
  flex-grow: 1;

  padding: 15px 20px;
}

.content__info-wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 30px;
  padding-top: 20px;
}

.content__info-avatar {
  border-radius: 10px;
}

.content__info-text {
  max-width: 700px;
}

#inp-reset {
  outline: none;
}

.btn,
#inp-reset {
  border: none;
  padding: 15px 28px;
  border-radius: 8px;
  background-color: var(--color-blue);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.5s;
}

:is(.btn, #inp-reset):active,
:is(.btn, #inp-reset):hover {
  background-color: var(--color-dark-blue);
}

.btn:active,
.btn:focus {
  outline: none;
  border: none;
}


nav {
  padding: 15px;
}

form {
  margin-top: 35px;
}

form > h2 {
  margin-bottom: 5px;
}

.form__inputs {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 20px 50px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

#about-oneself {
  flex-basis: 72%;
}

@media screen and (max-width: 1279px) {

  main {
    flex-direction: column;
    max-height: none;
    gap: 25px;
  }

  .cards {
    flex-direction: row;
    justify-content: space-around;
  }

  .content__info {
    height: 620px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__inputs {
    margin-top: 22px;
    flex-direction: column;
    align-items: stretch;
  }

  .btn,
  #inp-reset {
    font-size: 14px;
    padding: 10px 24px;
  }
}
