/* .App {
  text-align: center;
  background: #7067a5;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover  ;
}

.App-logo {
  width: 200px;
  height: 200px;
  pointer-events: none;
} */

